PORT=3003

MONGODB_URI=mongodb://admin:password@localhost:27017/chirp?authSource=admin

JWT_SECRET=replace-with-the-same-secret-as-user
JWT_EXPIRES_IN=1d

USER_SERVICE_URL=http://localhost:3001

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
